<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
	<div class="modal-dialog">
		<div class="row justify-content-center">
			<div class="spinner-border" role="status" style="width:200px;height:200px">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
</div>
@code {

}
