<button class="oi oi-info" data-toggle="tooltip" data-placement="top" title=@Text style="border:hidden">
    @ChildContent
</button>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Text { get; set; }
}
