@*<div class="top-row pl-4 navbar" style="background-image:url(Images/gownabelka.png); background-position:center;background-size:auto; background-repeat:no-repeat">
*@
<div class="top-row pl-4 navbar navbar-dark" style="background-color: rgb(4,20,59)">
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona Główna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="debenturescalculator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kalkulator Obligacji
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loancalculator">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Kalkulator Kredytowy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="depositcalculator">
                <span class="oi oi-calculator" aria-hidden="true"></span> Kalkulator Lokat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="depositaccountcalculator">
                <span class="oi oi-vertical-align-bottom" aria-hidden="true"></span> Kalkulator Konto Oszczędnościowe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ppkcalculator">
                <span class="oi oi-aperture" aria-hidden="true"></span> Kalkulator PPK
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ppkpayoutcalculator">
                <span class="oi oi-dollar" aria-hidden="true"></span> Wypłaty PPK
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Skontaktuj się
            </NavLink>
        </li>
        <AuthorizeView Roles="admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-people" aria-hidden="true"></span> Użytkownicy (Admin)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    @*<NavLink class="nav-link" href="configuration">
                    <img src="Images/control_options_configuration_slider_settings_icon_230584.png" style="height:16px;width:16px;margin-right:16px;" /><span aria-hidden="true"></span> Konfiguracje (Admin)
                    </NavLink>*@
                    <NavLink class="nav-link" href="configuration">
                        <span class="oi oi-cog" aria-hidden="true"></span> Konfiguracje (Admin)
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
