<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Moje finanse</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona Główna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="debenturescalculator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kalkulator Obligacji
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loancalculator">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Kalkulator Kredytowy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="depositcalculator">
                <span class="oi oi-calculator" aria-hidden="true"></span> Kalkulator Lokat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ppkcalculator">
                <span class="oi oi-aperture" aria-hidden="true"></span> Kalkulator PPK
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ppkpayoutcalculator">
                <span class="oi oi-dollar" aria-hidden="true"></span> Wypłaty PPK
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Skontaktuj się
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
