@using MyFinances.Models

<section class="w-100 p-4 pb-4">
    <label for="percentageRangeEDO" class="form-label">Dodatkowa marża do oprocentowania</label>
    <div class="range">
        <input type="range" class="form-range" min="0" max="2.5" step="0.05" id="percentageRangeEDO" @bind="model.EDOAdditionalPercentage" @bind:event="oninput" />
    </div>

    <div class="form-group" style="width:25%">
        <div class="input-group"><input disabled="@true" @bind="model.EDOAdditionalPercentage" max="15" min="0" @bind:event="oninput" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
    </div>
</section>

<div class="form-group">
    <div class="row">
        <div class="form-group">
            <label>Stałe oprocentowanie w 1 okresie</label>
            <div class="input-group"><input @bind="model.EDOPercentage[0]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
        <div class="form-group">
            <label>Oprocentowanie w 2 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[1]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label>Oprocentowanie w 3 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[2]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
        <div class="form-group">
            <label>Oprocentowanie w 4 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[3]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label>Oprocentowanie w 5 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[4]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
        <div class="form-group">
            <label>Oprocentowanie w 6 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[5]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label>Oprocentowanie w 7 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[6]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
        <div class="form-group">
            <label>Oprocentowanie w 8 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[7]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label>Oprocentowanie w 9 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[8]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
        <div class="form-group">
            <label>Oprocentowanie w 10 roku </label>
            <div class="input-group"><input @bind="model.EDOPercentage[9]" class="form-control"><div class="input-group-append"><span class="input-group-text">%</span></div></div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public DebentureModel model { get; set; }
}
